<div class="container">
    <div style="width: 800px;">
    <h1>Hero Form</h1>
    <form>
      <div class="form-group">
        <label for="fname">Name</label>
        <input type="text" class="form-control" id="fname" required>
      </div>
 
      <div class="form-group">
        <label for="fdob">DOB</label>
        <input type="text" class="form-control" id="fdob">
      </div>

      <div class="form-group">
        <label for="fdob">Email</label>
        <input type="email" class="form-control" id="femail">
      </div>

      <div class="form-group">
        <label for="fage">Age</label>
        <input type="text" class="form-control" id="fage">
      </div>
      
      <button type="submit" class="btn btn-success" (click)="onclick()">
          Submit</button>
 
    </form>
    </div>
</div>